
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Site.cshtml";
}

@section headSec{
    <style>
        h2{
            background-color:aqua;
            color:red
        }
    </style>
    <script>
        alert("Home page alert message");
    </script>

    }
<h2>Home</h2>

